@font-face {
    font-family: "Rubik";
    src: url(fonts/Rubik-VariableFont_wght.ttf);
}

:root {
    --amarelo-witgame: #FFD951;
    --roxo-witgame: #5726A6;
    --roxo-escuro: #2F1559;
}

/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    /* margin: 20px - Espacamento externo de 20px
    margin: 20px 10px - Espacamento 20 px na vertical, 10px na horizontal
    margin: 20px 10px 5px - Espacamento 20px para cima, 10px na horizontal e 5px para baixo
    margin: 20px 10px 5px 2px - Espacamento 20px para cima, 10px para direita,  5px para baixo, 2px para esquerda*/

    margin: 0 auto;
}

header {
    height: 200px;
    background-color: var(--roxo-witgame);
}

header button {
    display: none;
}

header img {
    width: 250px;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 850px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu a {
    transition: all 0.3s ease;
    font-size: 18px;
    font-family: "Rubik";
    color: var(--amarelo-witgame);
    text-decoration: underline transparent;
}

.menu a:hover {
    background-color: #FFD951;
    color: var(--roxo-witgame);
    border: 2px solid var(--amarelo-witgame);
    padding: 2px 5px;
    border-radius: 10px;
}

.menu .search-container {
    text-align: center;
    margin-top: 3px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: 6px var(--am);
    color: var(--amarelo-witgame);
    background-color: 6px var(--roxo-escuro);
}

.menu button {
    padding: 10px 20px;
    color: var(--roxo-escuro);
    border: 3px;
    border-radius: 2px;
    cursor: pointer;
}

input.pesquisa {
    height: 30px;

    color: var(--roxo-escuro);
    background-color: 6px var(--roxo-escuro);

    border: 2px solid var(--amarelo-witgame);
    border-radius: 30px;

    text-indent: 50px;
    font-family: "Rubik";
    align-items: center;
    outline: none;
    transition: all 0.3s ease;


}

input.pesquisa:hover {
    background-color: #FFD951;
}

input.pesquisa text {
    color: #2F1559;
}

.banner {
    background-color: #5726A6;
    height: 500px;
}

.banner img {
    width: 100%;
    align-items: center;
}


#sobre {
    height: 700px;
    padding: 100px 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #5726A6;

}

#sobre img {
    width: 300px;
    height: 30px;
    margin-top: -180px;
    text-align: center;

}

#sobre p {
    font-size: 17px;
    margin-top: 30px;
    text-align: center;

    font-family: "Rubik";
    color: white;
    line-height: 1.5;
}

.container-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -45px;

}

.container-missao {
    margin-top: 0px;
    position: relative;
    top: -260px;
    margin-left: 60px;
}

.icon,
.text {
    position: relative;
    align-items: center;
    top: 0;
    left: 0;
}

.icon {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.container-missao .text {
    font-family: "Rubik";
    color: white;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 15px;
    margin-left: 55px;

    width: 620;
}

.container-missao:hover .icon {
    opacity: 0;
}

.container-missao:hover .text {
    opacity: 1;
}


.container-visao {
    margin-top: 0px;
    position: relative;
    top: -170px;

    display: flex;
    justify-content: center;
    margin-left: 70px;
}

.icon,
.text {
    position: absolute;
    top: 0;
    left: 0;
}

.icon {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.container-visao .text {

    font-family: "Rubik";
    color: white;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 15px;
    margin-left: 20px;

    justify-content: center;
    width: 590px;
}

.container-visao:hover .icon {
    opacity: 0;
}

.container-visao:hover .text {
    opacity: 1;
}

.container-valores {
    margin-top: 0px;
    position: relative;
    top: -80px;

    display: grid;
    align-items: center;
    margin-left: 80px;
}

.icon,
.text {
    position: absolute;
    top: 0;
    left: 0;
}

.icon {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.container-valores .text {

    font-family: "Rubik";
    color: white;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 10px;

    width: 555px;
}

.container-valores:hover .icon {
    opacity: 0;
}

.container-valores:hover .text {
    opacity: 1;
}

#servicos {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
    height: 600px;

}

#servicos img {
    margin-top: 100px;
    width: 800px;

}

.container-servicos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 0px;

}

.card-servicos {
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-servicos svg {
    margin-top: 1px;
    height: 300px;
}

.card-servicos a {
    height: 300px;
    margin-bottom: 50px;
    align-items: baseline;

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;

    border: transparent;
    border-radius: 30px;
    background-color: white;
    transition: all 0.3s ease;

}


.card-servicos a:hover {
    background-color: #ffd9518c;
    transition: opacity 0.3s ease;


}



#projetos {

    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
    height: 600px;
    background-color: #5726A6;

}

#projetos img {
    margin-top: 80px;
    height: 30px;
    width: 200px;
    justify-content: center;
}

.conteudo-projetos {

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    align-items: center;

}

.conteudo-projetos .container-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 10px;

}

.ecosoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ecosoy p {
    font-size: 18px;
    font-family: "Rubik";
    color: white;
    text-align: center;

}

.ecosoy a {
    margin-top: 40px;
    transition: all 0.3s ease;

    border: transparent;
    border-radius: 100%;
    /* Para torná-lo um círculo */
}

.ecosoy a:hover {
    border: 5px solid var(--amarelo-witgame);
    border-radius: 100%;
    background-color: #FFD951;
}

.galesun {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.galesun p {
    font-size: 18px;
    font-family: "Rubik";
    color: white;
}

.galesun a {
    margin-top: 40px;
    transition: all 0.3s ease;

    border: transparent;
    border-radius: 100%;
    /* Para torná-lo um círculo */
}

.galesun a:hover {
    border: 5px solid var(--amarelo-witgame);
    border-radius: 130px;
    background-color: #FFD951;
}

.cognitt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cognitt p {
    font-size: 18px;
    font-family: "Rubik";
    color: white;
}

.cognitt a {
    margin-top: 40px;
    transition: all 0.3s ease;

    border: transparent;
    border-radius: 100%;
    /* Para torná-lo um círculo */
}

.cognitt a:hover {
    border: 5px solid var(--amarelo-witgame);
    border-radius: 130px;
    background-color: #FFD951;
}


#contato {
    height: 1130px;
    text-align: center;
    margin-top: -100px;
    background-color: #FFD951;
}


#contato img {
    margin-top: 80px;
    height: 50px;
    width: 700px;
    justify-content: center;
    margin-bottom: 30px;
}


#contato form {
    width: 30%;

    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 50px;
    background-color: white;

    color: var(--roxo-escuro);
    font-family: "Rubik";
    font-size: 18px;


}

.campo {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;

    margin-bottom: 50px;
}

.campo-descricao {
    width: 60%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;

}

.campo input {
    height: 40px;

    color: var(--roxo-escuro);
    background-color: white;

    border: 3px solid var(--roxo-escuro);
    border-radius: 10px;

    text-indent: 10px;
    outline: none;
}

.campo-descricao textarea {
    color: var(--roxo-escuro);
    background-color: white;

    border: 3px solid var(--roxo-escuro);
    border-radius: 10px;

    resize: none;

    padding: 10px;
}

.campo label,
.campo-descricao label {
    margin-bottom: 5px;

}

.campo input,
.campo-descricao textarea {
    font-family: "Rubik";
    font-size: 16px;

}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #5726a686;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--roxo-witgame);
}

#contato form button {
    height: 40px;
    width: 60%;

    background-color: var(--amarelo-witgame);
    color: var(--roxo-escuro);

    border: none;
    border-radius: 4px;

    font-family: "Rubik";
    font-size: 18px;

    font-weight: 700;
    /*Bold*/

    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;
}


#contato form button:hover {

    background-color: var(--roxo-escuro);
    color: var(--amarelo-witgame);

}


footer {
    height: 250px;

    background-color: var(--roxo-witgame);
}

footer .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 300px;
    margin-left: 50px;
}


.redes-sociais {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}


.icones-redes {
    width: 300px;

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.icones-redes a {
    color: var(--roxo-escuro);
    transition: all 0.3s ease;
}



.icones-redes a :hover {
    color: #FFD951;

}

@media screen and (max-width: 1300px) {
    header {
        position: relative;
    }

    header button {
        width: 50px;
        display: unset;

        background-color: transparent;
        border: none;

    }

    header svg {
        fill: var(--amarelo-witgame);
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;

        background-color: var(--roxo-escuro);

        position: absolute;
        right: 0px;
        top: 165px;
    }

    #sobre {
        padding: 100px 15%;

    }

    .container-conteudo {
        margin-left: 80px;
    }


    .banner img {
        max-width: 100%;
        height: auto;
        /* Evita que as imagens sejam distorcidas */

    }

    .card-servicos a {
        width: 230px;
        margin-right: -10px;
    }

    #contato form {
        width: 55%;
    }
}

@media screen and (max-width: 1080px) {
    .container-conteudo {
        margin-left: -5px;
    }

    .card-servicos {
        flex-wrap: wrap;

    }

    .card-servicos {
        height: 300px;
        flex-wrap: nowrap;
        gap: 40px;
        overflow-x: auto;
    }

    .card-servicos a {
        height: 300px;
        width: 280px;
        flex-basis: unset;

    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    .redes-sociais {
        margin-right: 70px;
    }
}

@media screen and (max-width: 800px) {
    .banner {
        height: 300px;
    }


    .container-conteudo {
        margin-left: -100px;
    }

    #servicos img {
        margin-top: 100px;
        margin-left: -30px;
        width: 700px;

    }

    .card {
        flex-basis: 45%;
    }

    .conteudo-projetos {
        height: 50%;
        margin-left: -30px;
        align-items: center;
    }

    .ecosoy {
        margin-right: 10px;
    }

    .galesun {
        margin-right: 10px;
    }


    footer {
        height: unset;
    }

    footer .container-grid {
        padding: 80px;
        flex-direction: column;
    }

    footer img {
        margin-bottom: 100px;
        margin-right: 45px;
    }

    .redes-sociais {
        align-items: center;
        margin-left: 60px;
    }
}

@media screen and (max-width: 700px) {


    .container-conteudo {
        margin-left: -130px;
    }

    #servicos img {
        margin-top: 100px;
        margin-left: -18px;
        width: 600px;

    }

    .conteudo-projetos {
        height: 50%;
        margin-left: -100px;
        align-items: center;
    }

    .ecosoy {
        margin-right: 10px;
    }

    .galesun {
        margin-right: 10px;
    }

    #cases,
    #contato {
        margin-bottom: unset;
    }


    .campo,
    .campo-descricao,
    #contato form button {
        width: 75%;
    }
}

@media screen and (max-width: 520px) {
    #sobre img {
        width: 210px;
        height: 21px;
        margin-top: -200px;
        text-align: center;
        margin-bottom: 20px;

    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .container-conteudo {
        margin-left: -190px;
        margin-top: -20px;
    }

    .container-conteudo svg {
        height: 55px;
        width: 250px;
        align-items: center;
    }

    .container-missao {
        margin-top: 100px;
        position: relative;
        top: -260px;
        margin-left: 250px;
    }

    .container-missao .text {
        font-family: "Rubik";
        color: white;
        font-size: 17px;
        opacity: 0;
        transition: opacity 0.3s ease;
        margin-top: 15px;
        width: 300px;
        margin-left: -30px;
    }

    .container-visao {
        margin-top: 0px;
        position: relative;
        top: -170px;

        display: flex;
        justify-content: center;
        margin-left: 248px;
    }

    .container-visao .text {

        font-family: "Rubik";
        color: white;
        font-size: 17px;
        opacity: 0;
        transition: opacity 0.3s ease;
        margin-top: 15px;
        margin-left: -20px;

        justify-content: center;
        width: 300px;
    }

    .container-valores {
        margin-top: 0px;
        position: relative;
        top: -80px;

        display: grid;
        align-items: center;
        margin-left: 240px;
    }

    .container-valores .text {

        font-family: "Rubik";
        color: white;
        font-size: 17px;
        opacity: 0;
        transition: opacity 0.3s ease;
        margin-top: 10px;

        width: 300px;
        margin-left: -15px;
    }

    .container-grid {
        width: 90%;
    }

    #servicos img {
        margin-top: 80px;
        margin-left: -45px;
        width: 550px;

    }

    header img {
        width: 200px;
    }

    nav.menu {
        width: 100%;
        display: none;
    }

    .banner {
        height: 180px;
    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .container-conteudo {
        margin-top: 100px;
        margin-right: -100px;
    }

    #projetos {

        text-align: center;
        padding-bottom: 100px;
        margin-bottom: 100px;
        height: 1050px;
        background-color: #5726A6;
    
    }
    
    .conteudo-projetos {
        margin-left: -150px;

        display: flex;
        flex-direction: column;
        flex-basis: unset;
    }

    .conteudo-projetos .container-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin-left: 50px;
        margin-right: 10px;

    }

    .ecosoy {
        margin-top: 250px;
        flex-direction: column;
        margin-left: 120px;
    }

    .galesun {
        margin-top: 30px;
        flex-direction: column;
        margin-left: 120px;

    }

    .cognitt {
        margin-left: 120px;
        margin-top: 30px;
    }

    #contato {
        padding-top: 150px;
        background-color: var(--roxo-gamifica);
        color: white;
    }


    #contato img {
        margin-top: -55px;
        height: 40px;
        width: 500px;
        justify-content: center;
        margin-bottom: 30px;
    }

    #contato h2 {
        margin-bottom: 0;
    }

    #contato form {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px) {
    
    .container-missao {
        margin-top: 100px;
        position: relative;
        top: -260px;
        margin-left: 200px;
    }

    .container-visao {
        margin-top: 0px;
        position: relative;
        top: -200px;

        display: flex;
        justify-content: center;
        margin-left: 195px;
    }

    .container-valores {
        margin-top: 0px;
        position: relative;
        top: -130px;

        display: grid;
        align-items: center;
        margin-left: 190px;
    }


    #servicos{
        width: 400px;
        height: 500px;
    }
    #servicos img {
        margin-top: 80px;
        height: 23px;
        width: 398px;
        margin-left: 2px;

    }

    #projetos img{
        height: 25px;
        width: 150px;
    }

    #contato img {
        margin-top: -55px;
        height: 33px;
        width: 390px;
        justify-content: center;
        margin-bottom: 30px;
        margin-left: -10px;
    }

    

    .card-servicos:last-child {
        margin-left: 30px;
        margin-right: 40px;
    }

} 
@media screen and (max-width: 320px) {

    #banner {
        height: 180px;
    }
    

    #sobre img {
        width: 150px;
        height: 15px;
        text-align: center;
        margin-bottom: 100px;

    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-top: -82px;
        font-size: 15px;
    }

    
    
    .container-missao {
        margin-top: 100px;
        position: relative;
        top: -220px;
        margin-left: 180px;
    }

    .container-visao {
        margin-top: 0px;
        position: relative;
        top: -150px;

        display: flex;
        justify-content: center;
        margin-left: 180px;
    }

    .container-valores {
        margin-top: 0px;
        position: relative;
        top: -80px;

        display: grid;
        align-items: center;
        margin-left: 170px;
    }


    #servicos{
        width: 320px;
        height: 500px;
    }
    #servicos img {
        margin-top: 80px;
        height: 15px;
        width: 318px;

    }

    #projetos img{
        height: 25px;
        width: 150px;
    }

    #contato img {
        margin-top: -55px;
        height: 28px;
        width: 318px;
        justify-content: center;
        margin-bottom: 30px;
        margin-left: -2px;
    }

    

    .card-servicos:last-child {
        margin-left: 30px;
        margin-right: 40px;
    }

    #projetos img{
        width: 115px;
        height: 17px;
    }

} 
